.App {
  background-color: #e9ecef;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  position: absolute;
  top:0;
  background-color: #212529;
  width: 100%;
  height: 50px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer{
  background-color: #212529;
  height: 50px;
  width: 100%;
  flex-basis: 100%;
  position: absolute;
  bottom:0;
}

