.flashcard {
    background-color: #e9ecef;
    margin:20px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.flashcard__header{
    background-color: #495057;
    height: 30px;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.flashcard--covered {
    background-color:#495057;
    position:relative;
}
.flashcard__character--covered{
    font-size: 6rem;
    color:white;
    position: absolute;
    left:26%;
    bottom:-45px
}

.flashcard__character {
    font-size: 40px;
    margin: 15px 0 5px 0;
}

.flashcard__meaning{
    background-color: #495057;
    color:white;
    border-radius:0 0 8px 8px;
    padding:4px 0px 21px 0px;
}